{% extends "base.html.twig" %}

{% block body %}
	<h1>Bienvenue dans ce blog</h1>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem laudantium aspernatur possimus, veniam velit explicabo fugit sapiente consectetur iure. Velit voluptates sunt saepe enim harum? Quas provident commodi nam debitis molestias aut ducimus mollitia voluptas? Voluptatum a perferendis necessitatibus vel?</p>
	<p>Dicta aliquid reprehenderit aut voluptate quia, quae dignissimos aspernatur ipsa mollitia ea soluta debitis quo odio nemo ex ipsum architecto. Quae enim ut, suscipit quam quia repellat, rem dicta deserunt ipsum ab nulla adipisci explicabo minus totam? Eveniet, rem veniam.</p>
{% endblock %}