{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <h1>Bienvenue sur le Blog</h1>
    
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique deleniti ab ad id soluta ullam delectus nesciunt, voluptas repellendus pariatur repellat illo ipsa voluptate animi expedita totam minus laboriosam dignissimos ea sit est, consectetur consequuntur fugit velit. Delectus impedit doloribus ea quaerat unde quisquam mollitia accusamus,
         est, debitis nemo deleniti sit, eveniet laborum quasi laudantium aliquid omnis quod odio. Quae.</p>
</div>
{% endblock %}
